In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
numerical_df = pd.read_csv('../lab-cleaning-numerical-data/files_for_lab/numerical.csv') 
categorical_df =  pd.read_csv('../lab-cleaning-numerical-data/files_for_lab/categorical.csv') 
numerical_df.head()
categorical_df.head()

,Unnamed: 0,state,response,coverage,education,employmentstatus,gender,location_code,marital_status,policy_type,renew_offer_type,sales_channel,vehicle_class,vehicle_size,month,year
0,0,Washington,No,Basic,Bachelor,Employed,F,Suburban,Married,Corporate Auto L3,Offer1,Agent,Two-Door Car,Medsize,2,2011
1,1,Arizona,No,Extended,Bachelor,Unemployed,F,Suburban,Single,Personal Auto L3,Offer3,Agent,Four-Door Car,Medsize,1,2011
2,2,Nevada,No,Premium,Bachelor,Employed,F,Suburban,Married,Personal Auto L3,Offer1,Agent,Two-Door Car,Medsize,2,2011
3,3,California,No,Basic,Bachelor,Unemployed,M,Suburban,Married,Corporate Auto L2,Offer1,Call Center,SUV,Medsize,1,2011
4,4,Washington,No,Basic,Bachelor,Employed,M,Rural,Single,Personal Auto L1,Offer1,Agent,Four-Door Car,Medsize,2,2011

# Concatinating numerical with categorical dataframe

In [3]:
data = pd.concat([numerical_df, categorical_df], axis=1, join="inner")
data

,Unnamed: 0,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount,Unnamed: 0,...,gender,location_code,marital_status,policy_type,renew_offer_type,sales_channel,vehicle_class,vehicle_size,month,year
0,0,2763.519279,56274,69,32,5,0,1,384.811147,0,...,F,Suburban,Married,Corporate Auto L3,Offer1,Agent,Two-Door Car,Medsize,2,2011
1,1,6979.535903,0,94,13,42,0,8,1131.464935,1,...,F,Suburban,Single,Personal Auto L3,Offer3,Agent,Four-Door Car,Medsize,1,2011
2,2,12887.431650,48767,108,18,38,0,2,566.472247,2,...,F,Suburban,Married,Personal Auto L3,Offer1,Agent,Two-Door Car,Medsize,2,2011
3,3,7645.861827,0,106,18,65,0,7,529.881344,3,...,M,Suburban,Married,Corporate Auto L2,Offer1,Call Center,SUV,Medsize,1,2011
4,4,2813.692575,43836,73,12,44,0,1,138.130879,4,...,M,Rural,Single,Personal Auto L1,Offer1,Agent,Four-Door Car,Medsize,2,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,9129,23405.987980,71941,73,18,89,0,2,198.234764,9129,...,M,Urban,Married,Personal Auto L1,Offer2,Web,Four-Door Car,Medsize,2,2011
9130,9130,3096.511217,21604,79,14,28,0,1,379.200000,9130,...,F,Suburban,Divorced,Corporate Auto L3,Offer1,Branch,Four-Door Car,Medsize,2,2011
9131,9131,8163.890428,0,85,9,37,3,2,790.784983,9131,...,M,Suburban,Single,Corporate Auto L2,Offer1,Branch,Four-Door Car,Medsize,2,2011
9132,9132,7524.442436,21941,96,34,3,0,3,691.200000,9132,...,M,Suburban,Married,Personal Auto L2,Offer3,Branch,Four-Door Car,Large,2,2011
9133,9133,2611.836866,0,77,3,90,0,1,369.600000,9133,...,M,Suburban,Single,Corporate Auto L3,Offer4,Call Center,Two-Door Car,Medsize,2,2011

In [4]:
#Converting numerical columns month and year as categoricals as we won't use them as dates later. 
data['month'] = data['month'].astype(object)
data['year'] = data['year'].astype(object)
data.dtypes

Unnamed: 0                         int64
customer_lifetime_value          float64
income                             int64
monthly_premium_auto               int64
months_since_last_claim            int64
months_since_policy_inception      int64
number_of_open_complaints          int64
number_of_policies                 int64
total_claim_amount               float64
Unnamed: 0                         int64
state                             object
response                          object
coverage                          object
education                         object
employmentstatus                  object
gender                            object
location_code                     object
marital_status                    object
policy_type                       object
renew_offer_type                  object
sales_channel                     object
vehicle_class                     object
vehicle_size                      object
month                             object
year                              object
dtype: object

# Spliting the data into test and train samples

In [5]:
from sklearn.model_selection import train_test_split
y = data['total_claim_amount'] 
X = data.drop(['total_claim_amount'], axis=1) 
X_num = X.select_dtypes(include = np.number)
X_cat = X.select_dtypes(include = object)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [6]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(7307, 24)
(1827, 24)
(7307,)
(1827,)

# Split them more into numericals and categoricals

In [7]:

X_train_num = X_train.select_dtypes(include = np.number)
X_test_num  = X_test.select_dtypes(include = np.number)
X_train_cat = X_train.select_dtypes(include = object)
X_test_cat  = X_test.select_dtypes(include = object)

# Use X_train_num to fit scalers. Transform both X_train_num and X_test_num.

In [8]:
# importing the required libraries
from sklearn.preprocessing import MinMaxScaler
#from sklearn.preprocessing import StandardScaler
# appying scaling tp the numericaldata to normalize them into same level of between 0 and 1
transformer = MinMaxScaler().fit(X_train_num) # to use for X_test too
X_train_scaled_arr = transformer.transform(X_train_num)
X_train_scaled = pd.DataFrame(X_train_scaled_arr, columns=X_train_num.columns)
X_train_scaled.head()

,Unnamed: 0,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,Unnamed: 0
0,0.560885,0.035258,0.511537,0.000000,0.800000,0.323232,0.2,1.0,0.560885
1,0.847240,0.011416,0.000000,0.075949,0.857143,0.252525,0.0,0.0,0.847240
2,0.023325,0.012464,0.811124,0.054852,0.200000,0.676768,0.0,0.0,0.023325
3,0.939444,0.039793,0.722777,0.012658,0.057143,0.666667,0.0,1.0,0.939444
4,0.860272,0.008748,0.547474,0.021097,0.085714,0.868687,0.0,0.0,0.860272

In [9]:
transformer = MinMaxScaler().fit(X_test_num) # to use for X_test too
X_test_scaled_arr = transformer.transform(X_test_num)
X_test_scaled = pd.DataFrame(X_test_scaled_arr, columns=X_test_num.columns)
X_test_scaled.head()

,Unnamed: 0,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,Unnamed: 0
0,0.077530,0.032581,0.746148,0.199115,0.028571,0.494949,0.0,0.000,0.077530
1,0.005147,0.050691,0.232273,0.044248,0.200000,0.101010,0.0,0.375,0.005147
2,0.437473,0.026770,0.949410,0.146018,0.085714,0.383838,0.0,0.000,0.437473
3,0.165681,0.084346,0.771839,0.168142,0.085714,0.272727,0.2,0.500,0.165681
4,0.403636,0.084582,0.237785,0.035398,0.514286,0.141414,0.0,0.125,0.403636

# Encode the categorical variables X_train_cat and X_test_cat

In [10]:
X_train_cat1 = X_train_cat[['coverage', 'employmentstatus', 'location_code', 'vehicle_size', 'education']]
X_test_cat1 = X_test_cat[['coverage', 'employmentstatus', 'location_code', 'vehicle_size', 'education']]
X_train_cat2 = X_train_cat[['state','marital_status', 'policy_type', 'sales_channel', 'response','gender','year','month', 'employmentstatus','vehicle_class','renew_offer_type']]
X_test_cat2 = X_test_cat[['state','marital_status', 'policy_type', 'sales_channel', 'response','gender','year','month','employmentstatus', 'vehicle_class','renew_offer_type']]

In [11]:
X_train_cat.ordinal = pd.get_dummies(X_train_cat1)
X_test_cat.ordinal = pd.get_dummies(X_test_cat1)

C:\Users\ninav\AppData\Local\Temp\ipykernel_6460\589840158.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  X_train_cat.ordinal = pd.get_dummies(X_train_cat1)
C:\Users\ninav\AppData\Local\Temp\ipykernel_6460\589840158.py:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  X_test_cat.ordinal = pd.get_dummies(X_test_cat1)

In [12]:
X_num.dtypes

Unnamed: 0                         int64
customer_lifetime_value          float64
income                             int64
monthly_premium_auto               int64
months_since_last_claim            int64
months_since_policy_inception      int64
number_of_open_complaints          int64
number_of_policies                 int64
Unnamed: 0                         int64
dtype: object

In [13]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(drop='first').fit(X_train_cat2)
encoded_cat = encoder.transform(X_train_cat2).toarray()
cols = encoder.get_feature_names_out(input_features=X_train_cat2.columns)

onehot_encoded_train = pd.DataFrame(encoded_cat, columns=cols)
onehot_encoded_train.head()

,state_California,state_Nevada,state_Oregon,state_Washington,marital_status_Married,marital_status_Single,policy_type_Corporate Auto L2,policy_type_Corporate Auto L3,policy_type_Personal Auto L1,policy_type_Personal Auto L2,...,employmentstatus_Retired,employmentstatus_Unemployed,vehicle_class_Luxury Car,vehicle_class_Luxury SUV,vehicle_class_SUV,vehicle_class_Sports Car,vehicle_class_Two-Door Car,renew_offer_type_Offer2,renew_offer_type_Offer3,renew_offer_type_Offer4
0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [14]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(drop='first').fit(X_test_cat2)
encoded_cat = encoder.transform(X_test_cat2).toarray()
cols = encoder.get_feature_names_out(input_features=X_test_cat2.columns)

onehot_encoded_test = pd.DataFrame(encoded_cat, columns=cols)
onehot_encoded_test.head()

,state_California,state_Nevada,state_Oregon,state_Washington,marital_status_Married,marital_status_Single,policy_type_Corporate Auto L2,policy_type_Corporate Auto L3,policy_type_Personal Auto L1,policy_type_Personal Auto L2,...,employmentstatus_Retired,employmentstatus_Unemployed,vehicle_class_Luxury Car,vehicle_class_Luxury SUV,vehicle_class_SUV,vehicle_class_Sports Car,vehicle_class_Two-Door Car,renew_offer_type_Offer2,renew_offer_type_Offer3,renew_offer_type_Offer4
0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
2,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
3,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
X_train_cat.ordinal = X_train_cat.ordinal.reset_index(drop=True)
onehot_encoded_train = onehot_encoded_train.reset_index(drop=True)

In [16]:
data1 = pd.concat([X_train_cat.ordinal, onehot_encoded_train], axis=1)

In [17]:
X_test_cat.ordinal = X_test_cat.ordinal.reset_index(drop=True)
onehot_encoded_test = onehot_encoded_test.reset_index(drop=True)

In [18]:
data2 = pd.concat([X_test_cat.ordinal, onehot_encoded_test], axis=1)

In [19]:
X_num.dtypes

Unnamed: 0                         int64
customer_lifetime_value          float64
income                             int64
monthly_premium_auto               int64
months_since_last_claim            int64
months_since_policy_inception      int64
number_of_open_complaints          int64
number_of_policies                 int64
Unnamed: 0                         int64
dtype: object

# Linear Regression

In [20]:
X_train_scaled = X_train_scaled.reset_index(drop=True)
X_test_scaled = X_test_scaled.reset_index(drop=True)

In [21]:
X_train_scaled_encoded = pd.concat([X_train_scaled, data1], axis=1)

In [22]:
X_train_scaled_encoded.shape

(7307, 60)

In [23]:
X_test_scaled_encoded = pd.concat([X_test_scaled, data2], axis=1)

In [24]:
X_train_scaled_encoded.isna().sum()

Unnamed: 0                        0
customer_lifetime_value           0
income                            0
monthly_premium_auto              0
months_since_last_claim           0
months_since_policy_inception     0
number_of_open_complaints         0
number_of_policies                0
Unnamed: 0                        0
coverage_Basic                    0
coverage_Extended                 0
coverage_Premium                  0
employmentstatus_Disabled         0
employmentstatus_Employed         0
employmentstatus_Medical Leave    0
employmentstatus_Retired          0
employmentstatus_Unemployed       0
location_code_Rural               0
location_code_Suburban            0
location_code_Urban               0
vehicle_size_Large                0
vehicle_size_Medsize              0
vehicle_size_Small                0
education_Bachelor                0
education_College                 0
education_Doctor                  0
education_High School or Below    0
education_Master                  0
state_California                  0
state_Nevada                      0
state_Oregon                      0
state_Washington                  0
marital_status_Married            0
marital_status_Single             0
policy_type_Corporate Auto L2     0
policy_type_Corporate Auto L3     0
policy_type_Personal Auto L1      0
policy_type_Personal Auto L2      0
policy_type_Personal Auto L3      0
policy_type_Special Auto L1       0
policy_type_Special Auto L2       0
policy_type_Special Auto L3       0
sales_channel_Branch              0
sales_channel_Call Center         0
sales_channel_Web                 0
response_Yes                      0
gender_M                          0
month_2                           0
employmentstatus_Employed         0
employmentstatus_Medical Leave    0
employmentstatus_Retired          0
employmentstatus_Unemployed       0
vehicle_class_Luxury Car          0
vehicle_class_Luxury SUV          0
vehicle_class_SUV                 0
vehicle_class_Sports Car          0
vehicle_class_Two-Door Car        0
renew_offer_type_Offer2           0
renew_offer_type_Offer3           0
renew_offer_type_Offer4           0
dtype: int64

In [25]:
X_test_scaled_encoded.isna().sum()

Unnamed: 0                        0
customer_lifetime_value           0
income                            0
monthly_premium_auto              0
months_since_last_claim           0
months_since_policy_inception     0
number_of_open_complaints         0
number_of_policies                0
Unnamed: 0                        0
coverage_Basic                    0
coverage_Extended                 0
coverage_Premium                  0
employmentstatus_Disabled         0
employmentstatus_Employed         0
employmentstatus_Medical Leave    0
employmentstatus_Retired          0
employmentstatus_Unemployed       0
location_code_Rural               0
location_code_Suburban            0
location_code_Urban               0
vehicle_size_Large                0
vehicle_size_Medsize              0
vehicle_size_Small                0
education_Bachelor                0
education_College                 0
education_Doctor                  0
education_High School or Below    0
education_Master                  0
state_California                  0
state_Nevada                      0
state_Oregon                      0
state_Washington                  0
marital_status_Married            0
marital_status_Single             0
policy_type_Corporate Auto L2     0
policy_type_Corporate Auto L3     0
policy_type_Personal Auto L1      0
policy_type_Personal Auto L2      0
policy_type_Personal Auto L3      0
policy_type_Special Auto L1       0
policy_type_Special Auto L2       0
policy_type_Special Auto L3       0
sales_channel_Branch              0
sales_channel_Call Center         0
sales_channel_Web                 0
response_Yes                      0
gender_M                          0
month_2                           0
employmentstatus_Employed         0
employmentstatus_Medical Leave    0
employmentstatus_Retired          0
employmentstatus_Unemployed       0
vehicle_class_Luxury Car          0
vehicle_class_Luxury SUV          0
vehicle_class_SUV                 0
vehicle_class_Sports Car          0
vehicle_class_Two-Door Car        0
renew_offer_type_Offer2           0
renew_offer_type_Offer3           0
renew_offer_type_Offer4           0
dtype: int64

In [26]:
#model for train

In [27]:
from sklearn.linear_model import LogisticRegression
from sklearn import linear_model
lm = linear_model.LinearRegression()
lm.fit(X_train_scaled_encoded,y_train)

LinearRegression()

In [28]:
from sklearn.metrics import r2_score
predictions = lm.predict(X_train_scaled_encoded)
r2_score(y_train, predictions)

0.7743322991504693

In [29]:
predictions

array([186.8125   , 575.5859375, 402.96875  , ..., 813.3671875,
       757.4453125, 293.171875 ])

In [30]:
predictions_test = lm.predict(X_train_scaled_encoded)
r2_score(y_train, predictions_test)

0.7743322991504693

In [31]:
#model for test

In [32]:
lm = linear_model.LinearRegression()
lm.fit(X_test_scaled_encoded,y_test)

LinearRegression()

In [33]:
predictions = lm.predict(X_test_scaled_encoded)
r2_score(y_test, predictions)

0.7730670795317589

In [34]:
predictions

array([185.84375 , 455.53125 , 456.984375, ..., 205.15625 , 528.046875,
       619.578125])

In [35]:
predictions_test = lm.predict(X_test_scaled_encoded)
r2_score(y_test, predictions_test)

0.7730670795317589

In [ ]:
#The r2_score is above 0.75 so our model is optimal for making predictions.

# Function to check LinearRegressor and KNeighborsRegressor.

In [36]:
from sklearn.neighbors import KNeighborsRegressor
def checkknnregressor(n):
    
    KNN = KNeighborsRegressor(n_neighbors = n)
    KNN.fit(X_train_scaled_encoded, y_train)

    score = KNN.score(X_train_scaled_encoded, y_train)
    
    print("Train score is ", score)
    
    score_test = KNN.score(X_test_scaled_encoded, y_test)
    print("Test score is ", score_test)

In [37]:
checkknnregressor(10)

Train score is  0.6443788436045288
Test score is  0.5806132510846318

In [38]:
checkknnregressor(50)

Train score is  0.5434482868816644
Test score is  0.5456214328543338

In [39]:
checkknnregressor(100)

Train score is  0.5104233140443138
Test score is  0.5238640145050821

In [40]:
checkknnregressor(7306)

Train score is  0.0001570299410046383
Test score is  -0.0028013785528908652

In [41]:
from sklearn import linear_model
from sklearn.metrics import r2_score

def checklinear_model():
    LR = linear_model.LinearRegression()
    LR.fit(X_train_scaled_encoded, y_train)
    LR.fit(X_test_scaled_encoded, y_test)
    
    predictions_train = LR.predict(X_train_scaled_encoded)
    predictions_test = LR.predict(X_test_scaled_encoded)
    
    score_train = r2_score(predictions_train, y_train)
    print("Train score is ", score_train)
    score_test = r2_score(predictions_test, y_test)
    print("Test score is ", score_test)

In [42]:
checklinear_model()

Train score is  0.6540164396522599
Test score is  0.7064473370165124

# MLPRegressor

In [45]:
from sklearn.neural_network import MLPRegressor
def checkmlpregressor(n):
    
    regr = MLPRegressor(max_iter = n).fit(X_train_scaled_encoded, y_train)

    score_test = regr.score(X_test_scaled_encoded, y_test)
    display("Test score ", score_test)

    score = regr.score(X_train_scaled_encoded, y_train)
    display("Train score ", score)

In [46]:
checkmlpregressor(400)

C:\Users\ninav\anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:684: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (400) reached and the optimization hasn't converged yet.
  warnings.warn(

'Test score '

0.8122848721309344

'Train score '

0.8417978602731703

In [ ]:
#This model has a test accuracy above 80%